@media screen and (max-width: 1200px) {

    // Section feature======
    .section-feature {
        .feature {
            .feature__list {
                .feature__elem {
                    flex: 1;
                    min-width: 254px;
                }
            }
        }
    }
}

@media screen and (max-width: 1052px) {

    // Section testimonials======
    .section-testimonials {
        .testimonials {
            .testimonials__list {
                grid-template-columns: repeat(3, 1fr);
                align-content: center;
                justify-content: center;
                grid-template-areas:
                    "img2 img4 img7"
                    "img2 img4 img7"
                    "img9 img5 img1"
                    "img9 img5 img1"
                    "img3 img6 img8"
                    "img3 img6 img8";

                .testimonials__elem {
                    margin: 0 auto;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {

    // Header===============
    .header {
        position: relative;

        .container {
            .header__nav {
                .nav {
                    top: 0;
                    z-index: 2;
                    left: -100%;
                    width: 100%;
                    height: 100vh;
                    display: block;
                    position: absolute;
                    background-color: $accent-color2;
                    transition: left $main-transition;

                    .nav__list {
                        height: 100%;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                    }
                }

                .nav.active {
                    left: 0;
                }

                .burger-menu {
                    z-index: 3;
                    display: block;

                    a {
                        display: block;
                    }
                }
            }
        }
    }

    // Section stats========
    .section-stats {
        .container {
            .stats {
                flex-wrap: wrap;

                .stats__elem {
                    width: 49%;
                }
            }
        }
    }

    // Section about========
    .section-about {
        background-color: $accent-color2;

        .about {
            .about__image {
                display: none;
            }
        }
    }

    // Section offers=======
    .section-offers {
        .offers {
            margin: 70px 0px;

            .offers__images {
                display: none;
            }
        }
    }

    // Footer===============
    .footer {
        .container {
            .footer-box {
                flex-direction: column-reverse;

                .footer-nav {
                    margin-bottom: 40px;
                    justify-content: space-between;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    // Section intro========
    .section-intro {
        .container {
            .intro {
                .intro__image {
                    right: 0px;
                }
            }
        }
    }

    // Section stats========
    .section-stats {
        .container {
            .stats {
                gap: 30px;
                text-align: center;

                .stats__elem {
                    width: 100%;
                }
            }
        }
    }

    // Section price========
    .section-price {
        background-color: $accent-color2;

        &::before,
        &::after {
            display: none;
        }

        .price {
            flex-direction: column;

            .price__box {
                height: auto;
                padding: 50px 0px;

                .price__button {
                    margin-top: 30px;
                }
            }
        }
    }

    // Section testimonials======
    .section-testimonials {
        .testimonials {
            .testimonials__list {
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas:
                    "img1 img5"
                    "img1 img5"
                    "img2 img6"
                    "img2 img6"
                    "img3 img7"
                    "img3 img7"
                    "img4 img8"
                    "img4 img8"
                    "img9 _   "
                    "img9 _   ";
            }
        }
    }
}

@media screen and (max-width: 576px) {

    // Section intro=========
    .section-intro {
        .container {
            .intro {
                .intro__body {
                    .heading {
                        font-size: clamp(2.5rem, 12.5vw, 4.5rem);
                        line-height: clamp(3.05rem, 0.781rem + 14.84vw, 6.125rem);
                    }
                }
            }
        }
    }

    // Section projects======
    .section-projects {
        .projects {
            .projects__list {
                .projects__elem {
                    width: 100%;
                }
            }
        }
    }

    // Section gallery======
    .section-gallery {
        .gallery {
            .gallery__list {
                .gallery__elem {
                    flex: none;
                    width: 100%;

                    .gallery__button {
                        width: auto;
                        min-width: auto;
                    }
                }
            }
        }
    }

    // Section testimonials======
    .section-testimonials {
        .testimonials {
            .testimonials__list {
                grid-template-columns: repeat(1, 1fr);
                grid-template-areas:
                    "img1"
                    "img1"
                    "img2"
                    "img2"
                    "img3"
                    "img3"
                    "img4"
                    "img4"
                    "img5"
                    "img5"
                    "img6"
                    "img6"
                    "img7"
                    "img7"
                    "img8"
                    "img8"
                    "img9"
                    "img9";
            }
        }
    }

    // Footer================
    .footer {
        .container {
            .footer-box {
                .footer-contacts {
                    text-align: center;

                    .footer-copy {
                        max-width: 100%;
                    }

                    .social {
                        justify-content: center;
                    }
                }

                .footer-nav {
                    text-align: center;

                    .footer-links {
                        width: 100%;
                    }

                    .contact {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}