// Font Size___________
$main-size: 18px;

// Colors______________
$white-color: #fff;
$black-color: #18191F;
$accent-color1: #183181;
$accent-color2: #F4F5F7;
$dod-color: #cdcdcd;
$dod-color2: #9a939380;

// Font Weights________
$font-extrabold: 800;
$font-semibold: 600;
$font-normal: 400;

// Hero Fonts__________
$hero-font: 'Manrope', sans-serif;

// Additional Fonts____
$additional-font: 'sans-serif';

// Transitions__________
$main-transition: .2s ease;