<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/128/10003/10003660.png">

    <!-- Robots -->
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">

    <!-- Styles -->
    <link rel="stylesheet" href="assets/css/style.min.css">

    <title>{{ title }}</title>
</head>

<body>
    <div class="wrapper">
        {{> header }}
        <main>
            {{> section-intro }}
            {{> section-stats }}
            {{> section-feature }}
            {{> section-price }}
            {{> section-projects }}
            {{> section-about }}
            {{> section-offers }}
            {{> section-gallery }}
            {{> section-testimonials }}
        </main>
        {{> footer }}
    </div>

    <script src="../../assets/js/main.js"></script>
</body>

</html>