<footer class="footer">
    <div class="container">
        <div class="footer-box">
            <!-- Contacts and copy -->
            <div class="footer-contacts">
                <div class="footer-copy">
                    <p>Atlant Constrcut Copyright © 2020</p>
                    <p>All rights reserved</p>
                </div>
                <ul class="social">
                    <li class="social__elem">
                        <a class="social__link" href="#">
                            <img src="../../assets/img/social1.svg" alt="Instagram">
                        </a>
                    </li>
                    <li class="social__elem">
                        <a class="social__link" href="#">
                            <img src="../../assets/img/social2.svg" alt="Dribbble">
                        </a>
                    </li>
                    <li class="social__elem">
                        <a class="social__link" href="">
                            <img src="../../assets/img/social3.svg" alt="Twitter">
                        </a>
                    </li>
                    <li class="social__elem">
                        <a class="social__link" href="">
                            <img src="../../assets/img/social4.svg" alt="YouTube">
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Footer nav -->
            <div class="footer-nav">
                <ul class="footer-links">
                    <li class="footer-links__elem">
                        <h3 class="footer-title">Головна</h3>
                    </li>
                    <li class="footer-links__elem">
                        <a class="footer-links__link" href="#projects">Ми побудували</a>
                    </li>
                    <li class="footer-links__elem">
                        <a class="footer-links__link" href="#price">Партнерам</a>
                    </li>
                    <li class="footer-links__elem">
                        <a class="footer-links__link" href="#testimonials">Рекомендації</a>
                    </li>
                    <li class="footer-links__elem">
                        <a class="footer-links__link" href="#offers">Вакансії</a>
                    </li>
                    <li class="footer-links__elem">
                        <a class="footer-links__link" href="#about">Про компанію</a>
                    </li>
                </ul>
                <ul class="footer-links">
                    <li class="footer-links__elem">
                        <h3 class="footer-title">Проекти</h3>
                    </li>
                    <li class="footer-links__elem">
                        <a class="footer-links__link" href="#">Склади</a>
                    </li>
                    <li class="footer-links__elem">
                        <a class="footer-links__link" href="#">Логістичні центри</a>
                    </li>
                    <li class="footer-links__elem">
                        <a class="footer-links__link" href="#">Холодильні камери</a>
                    </li>
                    <li class="footer-links__elem">
                        <a class="footer-links__link" href="#">Сендвич панелі</a>
                    </li>
                    <li class="footer-links__elem">
                        <a class="footer-links__link" href="#">Проектування</a>
                    </li>
                </ul>
                <div class="contact">
                    <h3 class="footer-title">Ваш emeil для звязку</h3>

                    <form class="contact-form">
                        <input class="contact-form__input" type="text" placeholder="Ваш поштовий ящик">
                        <button class="contact-form__button">
                            <img src="../../assets/img/footer-borm-buuton.svg" alt="Відправити">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>