<header class="header">
    <div class="container">
        <div class="header__nav">
            <a href="#" class="logo">
                <img src="../../assets/img/logo.svg" alt="Atlant">
            </a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__elem">
                        <a class="nav__link" href="#feature">Види будівництва</a>
                    </li>
                    <li class="nav__elem">
                        <a class="nav__link" href="#projects">Ми побудували</a>
                    </li>
                    <li class="nav__elem">
                        <a class="nav__link" href="#price">Партнерам</a>
                    </li>
                    <li class="nav__elem">
                        <a class="nav__link" href="#offers">Вакансії</a>
                    </li>
                    <li class="nav__elem">
                        <a class="nav__link" href="#about">Про компанію</a>
                    </li>
                    <li class="nav__elem">
                        <button class="button">Зв'язок</button>
                    </li>
                </ul>
            </nav>
            <div class="burger-menu">
                <a href="#"><span></span></a>
            </div>
        </div>
    </div>
</header>