<section class="section-offers" id="offers">
    <div class="container">
        <div class="offers">
            <div class="offers__content">
                <h2 class="title offers__title">Комерційні пропозиції</h2>
                <p class="offers__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea repellat
                    saepe consequuntur similique libero quam esse beatae provident. Est illo, repellendus accusantium
                    veritatis praesentium pariatur obcaecati voluptates dolorem dolorum.</p>
                <a class="button-arrow offers__button-arrow" href="#" download>Скачати</a>
            </div>
            <div class="offers__images">
                <div class="offers__image">
                    <img src="../../assets/img/offers-phone.png" alt="Phone">
                </div>
            </div>
        </div>
    </div>
</section>