<section class="section-intro">
    <div class="container">
        <div class="intro">
            <div class="intro__body">
                <h1 class="heading">Atlant Construct</h1>
                <p class="intro__text">11 років досвіду будівництва в Україні</p>
                <button class="inro__link">
                    <img src="../../assets/img/play-circle.svg" alt="Плей">
                    <span></span>
                    Проекти
                </button>
            </div>
            <div class="intro__image">
                <img src="../../assets/img/intro-baner.png" alt="Проекти">
            </div>
        </div>
    </div>
</section>