<section class="section-about" id="about">
    <div class="container">
        <div class="about">
            <div class="about__image">
                <div class="about__logo">
                    <img src="../../assets/img/about-logo.png" alt="Atlant">
                </div>
            </div>
            <div class="about__content">
                <p class="about__subtitle">aTLANT CONSTRCUT</p>
                <h2 class="title">Про компанію</h2>
                <p class="about__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nesciunt accusantium commodi molestias velit perferendis nam obcaecati, quidem dolore mollitia ipsum deserunt nulla modi eos quisquam id possimus, culpa amet?</p> 
                <a class="button-arrow" href="#">Детальніше</a>
            </div>
        </div>
    </div>
</section>