<section class="section-stats">
    <div class="container">
        <ul class="stats">
            <li class="stats__elem">
                <h3 class="title">70+</h3>
                <p class="stats__text">Побудовано обєктів під ключ</p>
            </li>
            <li class="stats__elem">
                <h3 class="title">540+</h3>
                <p class="stats__text">Проектів вели</p>
            </li>
            <li class="stats__elem">
                <h3 class="title">47357</h3>
                <p class="stats__text">Провели годин на обєктах</p>
            </li>
            <li class="stats__elem">
                <h3 class="title">25+</h3>
                <p class="stats__text">Працівників праює</p>
            </li>
        </ul>
    </div>
</section>