<section class="section-testimonials" id="testimonials">
    <div class="container">
        <div class="testimonials">
            <h2 class="title testimonials__title">Нам довіряють</h2>
            <p class="testimonials__subtitle">Ми працювали з кількома клієнтами зі списку Fortune 50</p>
            <ul class="testimonials__list">
                <li class="testimonials__elem img1">
                    <img src="../../assets/img/testimonials1.png" alt="Google">
                </li>
                <li class="testimonials__elem img2">
                    <img src="../../assets/img/testimonials2.png" alt="Walmart">
                </li>
                <li class="testimonials__elem img3">
                    <img src="../../assets/img/testimonials3.png" alt="OYO">
                </li>
                <li class="testimonials__elem img4">
                    <img src="../../assets/img/testimonials4.png" alt="OLA">
                </li>
                <li class="testimonials__elem img5">
                    <img src="../../assets/img/testimonials5.png" alt="Microsoft">
                </li>
                <li class="testimonials__elem img6">
                    <img src="../../assets/img/testimonials6.png" alt="FedEx">
                </li>
                <li class="testimonials__elem img7">
                    <img src="../../assets/img/testimonials7.png" alt="Book my show">
                </li>
                <li class="testimonials__elem img8">
                    <img src="../../assets/img/testimonials8.png" alt="Amazon">
                </li>
                <li class="testimonials__elem img9">
                    <img src="../../assets/img/testimonials9.png" alt="Airbnb">
                </li>
            </ul>
        </div>
    </div>
</section>