<section class="section-projects" id="projects">
    <div class="container">
        <div class="projects">
            <h2 class="title projects__title">Наші проекти</h2>
            <ul class="projects__list">
                <li class="projects__elem">
                    <h5 class="projects__name"><b>Склад</b> - для компанії Nestle</h5>
                    <div class="projects__image">
                        <img src="../../assets/img/projects1.png" alt="Склад компанії Nestle">
                    </div>
                    <div class="projects__more">
                        <p>4 МІС.</p>
                        <a href="#" class="button projects__button">Детальніше</a>
                    </div>
                </li>
                <li class="projects__elem">
                    <h5 class="projects__name"><b>Логістичний центр</b> - Linella</h5>
                    <div class="projects__image">
                        <img src="../../assets/img/projects2.png" alt="Логістичний центр Linella">
                    </div>
                    <div class="projects__more">
                        <p>24 МІС.</p>
                        <a href="#" class="button projects__button">Детальніше</a>
                    </div>
                </li>
                <li class="projects__elem">
                    <h5 class="projects__name"><b>Реконструкція будівлі</b></h5>
                    <div class="projects__image">
                        <img src="../../assets/img/projects3.png" alt="Реконструкція будівлі">
                    </div>
                    <div class="projects__more">
                        <p>6 МІС.</p>
                        <a href="#" class="button projects__button">Детальніше</a>
                    </div>
                </li>
                <li class="projects__elem">
                    <h5 class="projects__name"><b>Металева конструкція</b></h5>
                    <div class="projects__image">
                        <img src="../../assets/img/projects4.png" alt="Металева конструкція">
                    </div>
                    <div class="projects__more">
                        <p>13 МІС.</p>
                        <a href="#" class="button projects__button">Детальніше</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>