<section class="section-gallery">
    <div class="container">
        <div class="gallery">
            <h2 class="title gallery__title">Галерея</h2>
            <ul class="gallery__list">
                <li class="gallery__elem">
                    <button class="gallery__button">
                        <img src="../../assets/img/gallery1.jpg" alt="Наш проект">
                    </button>
                </li>
                <li class="gallery__elem">
                    <button class="gallery__button">
                        <img src="../../assets/img/gallery2.jpg" alt="Наш проект">
                    </button>
                </li>
                <li class="gallery__elem">
                    <button class="gallery__button">
                        <img src="../../assets/img/gallery3.jpg" alt="Наш проект">
                    </button>
                </li>
                <li class="gallery__elem">
                    <button class="gallery__button">
                        <img src="../../assets/img/gallery4.jpg" alt="Наш проект">
                    </button>
                </li>
                <li class="gallery__elem">
                    <button class="gallery__button">
                        <img src="../../assets/img/gallery5.jpg" alt="Наш проект">
                    </button>
                </li>
                <li class="gallery__elem">
                    <button class="gallery__button">
                        <img src="../../assets/img/gallery6.jpg" alt="Наш проект">
                    </button>
                </li>
            </ul>
            <div class="gallery-image">
                <div class="gallery-image__elem">
                    <img src="" alt="Наш проект">
                </div>
                <button class="button gallery-image__button">&#215;</button>
            </div>
        </div>
    </div>
</section>