<section class="section-price" id="price">
    <div class="container">
        <div class="price">
            <div class="price__box">
                <h2 class="title price__title">Кошторис на ремонт по готовому дизайну</h2>
                <p class="price__text">Розрахуй вартість свого ремонту за 10 хв</p>
                <button class="price__button price__button-left">Вибрати дизайн</button>
            </div>
            <div class="price__box">
                <h2 class="title price__title">Швидкий кошторис на ремонт</h2>
                <p class="price__text">Дизайн не важливий або він у вас вже є?</p>
                <p class="price__text">Розрахуй вартість свого ремонту за 5 хв</p>
                <button class="price__button price__button-right">Скласти кошторис</button>
            </div>
        </div>
    </div>
</section>